<h1>Editar User</h1>
<%= render 'form', user: @user %>
<%= link_to '', users_path, class: "btn btn-default btn-sm glyphicon glyphicon-circle-arrow-left" %>
<%= link_to 'Show', @user, class: "btn btn-sm btn-info " %> 

